* {
    -fx-primary: #607d8b;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;

}

.root {
    -fx-background-color: #b0bec5;
}

.title {
    -fx-background-color: #607d8b;
}

.floating-button {
    -fx-pref-width: 60px;
    -fx-background-color: #C538A9;
    -fx-background-radius: 60px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 60px;
    -fx-border-width: 4px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}