* {
    -fx-primary: #607d8b;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;

}

.root {
    -fx-background-color: #b0bec5;
}

.title {
    -fx-background-color: #607d8b;
}

.floating-button {
    -fx-pref-width: 60px;
    -fx-background-color: #C538A9;
    -fx-background-radius: 60px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 60px;
    -fx-border-width: 4px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.colored-button {
    -fx-background-color: #37474F;
    -fx-text-fill: #FFFFFF;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
}

.dialog-trigger {
    -fx-background-color: WHITE;
    -jfx-button-type: RAISED;
    -fx-font-size: 14.0px;
}

.jfx-layout-heading .label {
    -fx-font-size: 20.0px;
    -fx-text-fill: #FFFFFF;
}

.jfx-layout-body {
    -fx-padding: 15px;
}

.dialog-accept {
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}

.dialog-reject {
    -fx-text-fill: #B71C1C;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}