* {
    -fx-primary: #263238;
    -fx-primary-text: #000000;
}

.root {
    -fx-background-color: #b0bec5;
}

.title {
    -fx-background-color: #607d8b;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}